<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fisher Price</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/about">Acerca de fisher price</a></li>
                <li><a href="/">Productos</a></li>
                <li><a href="/apps">Aplicaciones</a></li>
            </ul>
            <a id="carrito-icon" href="/checkout"><span class="carrito"></span><img src="/img/car.png" alt=""></a>
        </nav>
        <div class="landing">
            <a href="/tienda"><img class="img-landing" src="/img/logo.png" alt="Fisher Price"></a>
        </div>

        <div class="content">
            <h1>Nuestra historia</h1>
            <p>Desde el principio, hemos hecho juguetes que atraen la imaginación,<br>
            que hacen algo nuevo, sorprendente y divertido. En el camino, introdujimos artículos para bebé.<br>
            Siempre hemos mantenido la visión de nuestros fundadores en el corazón de lo que hacemos,<br>
            y recordamos lo que comenzó todo: una sonrisa. Hoy nuestra misión sigue siendo la misma:<br>
            enriquecer las vidas de las familias jóvenes, brindar alegría a las generaciones y fomentar lo que es la naturaleza única de cada niño.<br>
            Esperamos que te guste leer nuestras historias tanto como nos ha gustado hacerlas</p>
        </div>

           <div class="awards-title">
               <h1>Nuestros premios</h1>
           </div>

        <div class="logo-awards">
           
            <!--<div class="logo">
                <img class="logo-img" src="/img/logo.png" width="550" height="250" alt="">
            </div>-->

            <div class="awards">
                <div class="aw1">
                   <img class="aw1-img" src="/img/award1.jpg" width="150" height="160" alt="">
                </div>
                <div class="aw2">
                   <img class="aw2-img" src="/img/award2.png" width="140" height="170" alt="">
                </div>
                <div class="aw3">
                   <img class="aw3-img" src="/img/award3.jpg" width="120" height="120" alt="">
                </div>
            </div>
            
        </div>

        
         


        <footer>
            <section class="footer__gray">
            <article>
                <section class="footer__left">
                        <ul>
                            <li><a href="">Mattel, Nuestra casa Matriz</a></li>
                            <li><a href="">Empleos</a></li>
                            <li><a href="">Contactanos</a></li>
                            <li><a href="">Retiros del mercado</a></li>
                            <li><a href="">Piezas y Repuestos</a></li>
                        </ul>
                    </section>
                    <section class="footer__right">
                        <ul>
                            <li><a href="">Terminos y condiciones de Fisher - Price</a></li>
                            <li><a href="">Politica de confidencialidad</a></li>
                        </ul>
                    </section>
            </article>
            <p>Pagina inicial de los juguetes Fisher - Price y mas | El uso de este sitio implica que aceptas los terminos y condiciones del miso</p>
        </section>
            <a href="/"><img src="/img/logo.png" alt=""></a>
            <div class="red-border"></div>
        </footer>
    </div>
    <script src="/js/actualizar.js"></script>
    <script src="/js/agregar.js"></script>
    <script src="/animations/magnify.js"></script> 
    <script src="/animations/awards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js"></script>
    

    
    
    
    </body>

</html>