<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fisher Price</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a>Acerca de fisher price</a></li>
                <li><a href="/">Productos</a></li>
                <li><a>Aplicaciones</a></li>
            </ul>
            <a id="carrito-icon" href="/checkout"><span class="carrito"></span><img src="/img/car.png" alt=""></a>
        </nav>
        <div class="landing">
            <img class="img-landing" src="/img/logo.png" alt="" id="logo" style="transform:matrix(1,0,0,1,0,0);">
        </div>
    
    
    <div class="img-comp-container">
        <div class="img-comp-img">
            <img src="/img/babyone.jpg" width="500" height="400" alt="">
        </div>
        <div class="img-comp-img img-comp-overlay">
            <img src="/img/babytwo.jpg" width="500" height="400" alt="">
        </div>
        
    </div>

    <footer>
            <img src="/img/logo.png" alt="">
            <div class="red-border"></div>
        </footer>

    <div>
        <button href="/tienda">Ir a la tienda</button>
    </div>
    </div>
    <script src="/animations/slide.js"></script>
    <script>
        initComparisons();
    </script>
</body>
</html>