<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fisher Price</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/about">Acerca de fisher price</a></li>
                <li><a href="/tienda">Productos</a></li>
                <li><a href="/apps">Aplicaciones</a></li>
            </ul>
            <a id="carrito-icon" href="/checkout"><span class="carrito"></span><img src="/img/car.png" alt=""></a>
        </nav>
        <div class="landing">
            <a href="/tienda"><img class="img-landing" src="/img/logo.png" alt="Fisher Price"></a>
        </div>
    
    <div class="def-landing">

        <div class="img-comp-container">
        <div class="img-comp-img">
            <img src="/img/babyone.jpg" width="620" height="420" alt="">
        </div>
        <div class="img-comp-img img-comp-overlay">
            <img src="/img/babytwo.jpg" width="620" height="420" alt="">
        </div>
        
    </div>
    <div>
        <a href="/tienda">Ir a la tienda</a>
    </div>
    </div>
    

    <footer>
        <section class="footer__gray">
            <article>
                <section class="footer__left">
                        <ul>
                            <li><a href="">Mattel, Nuestra casa Matriz</a></li>
                            <li><a href="">Empleos</a></li>
                            <li><a href="">Contactanos</a></li>
                            <li><a href="">Retiros del mercado</a></li>
                            <li><a href="">Piezas y Repuestos</a></li>
                        </ul>
                    </section>
                    <section class="footer__right">
                        <ul>
                            <li><a href="">Terminos y condiciones de Fisher - Price</a></li>
                            <li><a href="">Politica de confidencialidad</a></li>
                        </ul>
                    </section>
            </article>
            <p>Pagina inicial de los juguetes Fisher - Price y mas | El uso de este sitio implica que aceptas los terminos y condiciones del miso</p>
        </section>
            <a href="/"><img src="/img/logo.png" alt=""></a>
            <div class="red-border"></div>
    </footer>
    </div>
    
    <script src="/animations/slide.js"></script>
    <script src="/animations/animacion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js"></script>
    <script>
        initComparisons();
    </script>
</body>
</html>