main{
    background-color: #0CC3E8; 
}
#song{
    transition: 1; 
}

#song:hover{
   transform: translate(0px,-20px);
   transition-delay: 0.2;
}

#disk{
    width: 300px;
    height: 300px;
    transform: rotate(0deg);
    position: relative;
    animation: none;
}

@keyframes sound{
    from{transform: rotate(0deg);}to{
        transform: rotate(359deg);
    }
}

#strellas{
    width: 100%;
}

.star{
    width: 20px;
    height: 20px;
    margin: 20px;
    border-radius:50%; 
    display: none;
}

#cielo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.star:nth-child(odd){
    background: #ffffff;
    opacity: 1;
    box-shadow: 1px 1px 15px #ffffff, -1px -1px 15px #ffffff;
    animation: star-pulse-1 0.5s linear 0s infinite alternate;
}

.star:nth-child(even){
    background: #FFF171;
    opacity: 0.3;
    box-shadow: 1px 1px 15px #FFF171, -1px -1px 15px #FFF171;
    animation: star-pulse-2 0.5s linear 0s infinite alternate;
}

@keyframes star-pulse-1{
    from {box-shadow: 1px 1px 15px #ffffff, -1px -1px 15px #ffffff;opacity: 1; width: 35px; height: 35px; }to{
        box-shadow: none; opacity: 0.3; width: 20px; height: 20px;
    }
}

@keyframes star-pulse-2{
    from {box-shadow: 1px 1px 15px #FFF171, -1px -1px 15px #FFF171;opacity: 0.3; width: 20px; height: 20px;}to{
        box-shadow: none; opacity: 1; width: 35px; height: 35px;
    }
}