@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$mont: 'Montserrat',
sans-serif;

@font-face {
    font-family: myFirstFont;
    src: url('../font/HoboStd.woff');
}

$hobot: myFirstFont;
$azul :#5DADC3;
$bg: #D1D1D1;
$green: #15BD00;

* {
    padding: 0;
    margin: 0;

    h1,
    h2,
    h3,
    h4,
    h6,
    li {
        font-family: $hobot;
        letter-spacing: 1px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    h5,
    p,
    button,
    select,
    option,label {
        font-family: $mont;
    }

    p,label {
        font-size: 13px;
    }
    input,select{
        padding: 5px;
        border-radius: 36px;
        border: 1px solid $azul;
    }

    button {
        cursor: pointer;
        border-radius: 36px;
        padding: 7px;
        margin: 7px;
        background-color: $azul;
        color: $azul;
        background-color: white;
        border: 1px solid $azul;

        &:hover {
            border: 1px solid $azul;
            background-color: $bg;
        }
    }
}

.container {
    background-color: $bg;

    nav {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $azul;
        position: relative;

        ul {
            font-family: $hobot;
            color: white;
            letter-spacing: 1px;
            padding: 10px;
            list-style-type: none;

            li {
                display: inline-block;
                padding: 10px;
            }
        }

        #carrito-icon {
            position: absolute;
            right: 10px;
            display: flex;
            .carrito{
                font-family: $mont;
                margin-right: 10px;
                margin-top: 2px;
                color: $azul;
                font-size: 13px;
                background-color: white;
                padding: 10px 15px 10px 15px;
                border-radius: 35px;
            }
        }
    }

    .landing {
        background-image: url('../img/bg2.png');
        background-size: 300px 300px;

        img {
            display: block;
            margin: auto;
            height: 200px;
            padding: 50px 0 50px 0;
        }
    }

    #search {
        width: 100%;
        background-color: $azul;

        .size {
            display: flex;
            box-sizing: border-box;
            width: 90%;
            margin: auto;
            box-sizing: border-box;
            margin: auto;

            select {
                flex-grow: 5;
                padding: 7px;
                margin: 7px;
                border-radius: 36px;
                border: 1px solid $azul;
            }

            button {
                flex-grow: 1;
            }
        }
    }

    #productos {
        width: 88%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px auto 20px auto;

        .item {
            padding: 15px;
            background-color: white;

            img {
                width: 100%;
                border-bottom: 1px solid $bg;
                margin-bottom: 5px;
            }

            h5,
            h3,
            p {
                color: $azul;
                text-transform: capitalize;

                span {
                    font-size: 12px;
                }
            }

            .datos {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 10px;

                p {
                    color: $green;
                    font-family: $mont;
                    font-size: 15px;
                }

            }
        }
    }

    .producto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        background-color: white;
        margin: auto;

        .img {
            flex-grow: 3;
            margin: 10px;

            img {
                width: 100%;
            }
        }

        .info {
            color: $azul;
            margin: 10px;
            flex-shrink: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            justify-content: space-between;

            button {
                width: 100%;
                align-self: flex-end;
            }

            >h1 {
                margin-top: 20px;
                text-transform: capitalize;
            }

            .title {
                >h4 {
                    margin-top: 20px;
                    color: gray;
                    font-family: $mont;
                }

                border-bottom: 1px solid $bg;
                padding: 5px;
            }
        }
    }

    .carct {
        width: 70%;
        margin: auto;
        color: gray;
        background-color: white;
        border-top: 1px solid $bg;

        h1 {
            text-align: center;
            margin-top: 30px;
        }

        p {
            margin-top: 10px;
            padding: 20px;
        }
    }

    .piezas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: $azul;
        text-align: center;

        h1,
        h3 {
            font-family: $mont;
        }

        img {
            width: 200px;
            height: 200px;
        }
    }

    main {
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: flex-start;
        width: 80%;
        .buyed{
            flex-grow: 2;
            .item{
                display: flex;
                justify-content: flex-start;
                padding: 10px;
                margin: 10px;
                background-color: white;
                border-radius: 0 10px 10px 0;
                .img{
                    margin: 10px;
                    img{
                        width: 100px;
                    }
                }
                .dato{
                    margin-left: 10px;
                    padding-left: 10px;
                    border-left: 1px solid $bg;
                    color: $azul;
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: space-around;
                    h3,h4{
                        font-family: $mont;
                    }
                }
            }
        }


        .data {
            padding: 10px;
            margin: 10px 10px 10px 0;
            background-color: white;
            flex-grow: 1;
            border-radius: 10px;
            h3{
                color: $azul;
            }
            form {
                display: flex;
                flex-direction: column;
                label{
                    margin: 10px 0 10px 10px;
                }
            }
        }
    }

    .more-info {
        color: white;
        background-color: $azul;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    footer {
        background-color: white;

        img {
            margin: auto;
            display: block;
            width: 300px;
        }

        .red-border {
            height: 20px;
            background-color: red;
        }
    }
}